<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="cn.ismartv.voice"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- begin: baidu speech sdk-->
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="7528682"/>
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="YuKSME6OUvZwv016LktWKkjY"/>
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="5fead3154852939e74bcaa1248cf33c6"
            />


        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.SettingActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            />
    </application>
</manifest>
